<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <div>
      <header>
        <h1><a href='/'>fund my product</a></h1>
      </header>
      <nav>
        {{#if logged_in}}
          <a href='/profile'>Profile</a>
          |
          <button id='logout'>logout</button>
        {{else}}
          <a href='/login'>login</a>
        {{/if}}
      </nav>
    </div>
    {{{body}}}

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{else}}
      <script src='/js/login.js'></script>
    {{/if}}
  </body>
</html>